<ul id="menu-horizontal">
 <li> <%= link_to "Descrição", :controller => "estorias", :action => "show", :id => params[:estoria_id] %></li>  
 <li><a href="#">--> Tarefas</a></li>
</ul>


<h1>Estória <%= params[:estoria_id] %></h1>
<h2>Tarefas</h2>
<br />

<table>
  <tr>
    <th>Nome tarefa</th>
    <th>Pontos</th>
  </tr>

<% @tarefas.each do |tarefa| %>
	
	<%= render :partial =>"lista", :locals =>{:tarefa => tarefa} %>
	
<% end %>
</table>

<br />

<div class="buttons"
	<p>  <%=  link_to " <img src='/images/icons/task.png' alt=""/> Inserir tarefa dessa estória",  {:controller=>'tarefas', :action => 'new', :estoria_id => params[:estoria_id]}, :class => "regular" %></p>
</div>