<h1>Tarefas</h1>

<table>
  <tr>
    <th>Nome tarefa</th>
  </tr>

<% @tarefas.each do |tarefa| %>
	
	<%= render :partial =>"lista", :locals =>{:tarefa => tarefa} %>
	
<% end %>
</table>

<br />

<%= link_to 'Inserir nova Tarefa', new_tarefa_path %>