
 /* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 116px;
	height: 1%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content_login {
	background:url("/images/LogoFull.png") no-repeat scroll left top;
	margin:30px 0 0 30px;
	padding:450px 0 0 0;
	height:100%;
}

#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
background:url("/images/gui/postit.png") no-repeat scroll left top ;
border:medium none;
float:left;
height: 350px;
margin: 80px -200px 2em -450px;
padding:30px 10px 60px 80px;
position:relative;
width:400px;
}
 
#login_form input[type="text"], input[type="password"]{
	width: 200px;	
}