<h1>Categorias</h1>

<table>
  <tr>
    <th>Nome categoria</th>
  </tr>

<% @categorias.each do |categoria| %>
  
	<%= render :partial =>"lista", :locals =>{:categoria => categoria} %>

<% end %>
</table>

<br />

<%= link_to 'Inserir categoria', new_categoria_path %>