<ul id="menu-horizontal">
 <li><u><a href="#">Descrição</a></u></li>
 <li> <%= link_to "Tarefas", :controller => "tarefas", :action => "index", :estoria_id => @estorias.id %></li>
</ul>
<h1>Estórias</h1>

<table>
  <tr>
    <th>Título</th>
  </tr>
<% for estoria in @estorias %>

	<%= render :partial =>"lista", :locals =>{:estoria => estoria} %>


<% end %>

</table>

<br />


<p><%= link_to 'Inserir nova estória', new_estoria_path %></p>
	