<% if logged_in? %>

<h1>Estórias</h1>
<table>
  <tr>
    <th>#</th>  	
    <th>Título</th>
    <th>Categoria</th>    
    <th>Andamento</th>
    <th>Sprint</th>
    <th>Conclusão</th>    
  </tr>
  
<% for estoria in @estorias %>
	<%= render :partial =>"lista", :locals =>{:estoria => estoria} %>
<% end %>

</table>
<br />
<br />

<div class="buttons">
  <%=  link_to " <img src='/images/icons/task.png' alt=""/> Nova estória",  new_estoria_path, :class => "regular" %>
</div>

<% else %>
	<%= link_to 'Login', login_path %>   or <%= link_to 'Sign Up', signup_path %>
<% end %>