<ul id="menu-horizontal">
 <li><a href="#">Descrição</a></li>
 <li><a href="#">Tarefas</a></li>
</ul>
<h1> Cadastrar nova Estória </h1>

<%=render :partial => 'formulario' %>

<%= link_to 'Voltar', estorias_path %>