<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="title" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="favicon.png"/>
	<%= stylesheet_link_tag 'style' %>
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<%=javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.custom.min.js' %>

</head>

<body>

<div id="wrapper">


	<div id="middle">

		<div id="container">
			<div id="content_login">
				<h2>Bem vindo ao <i>Rum</i>, um sistema de gestão de projetos baseado na agilidade e organização do Scrum feito com a robustez da linguagem Ruby </h2>
			</div><!-- #content_login-->
		</div><!-- #container-->

		<div class="sidebar" id="sideRight">
				<br/>
				<%= yield %>
				<br/><br/>
		</div><!-- .sidebar#sideRight -->

	</div><!-- #middle-->

</div><!-- #wrapper -->


<div id="footer">
<div class="footer-section-1">
		<h3>informe-se</h3>
			<ul>
				<li>Acompanhe nosso <a href="testestestes">blog</a></li>
				<li>Siga o projeto no <a href="http://twitter.com/railsscrum">twitter</a></li>
				<li>Baixe este projeto no <a href="http://github.com/ivanhtp/RailsScrum">git</a></li>
			</ul>
		</div>

		<div class="footer-section-2">
			<h3>extras</h3>
			 
			<p>Acharei alguma coisa interessante pra escrever aqui ainda</p>
		</div>
</div><!-- #footer -->

</body>
</html>